dist: trusty
sudo: false
language: java
jdk:
- oraclejdk8
branches:
  except:
  - /\+travis\d+$/
env:
  global:
  - MAVEN_BASE_URL=https://atomist.jfrog.io/atomist
  - secure: ks56ShrwS/GWir+rPZBDboF8KJU43mH80VFjIvgw7uzWMccos4Ra5wwBdH3DwENjqc3zeN4hGNZ+MErBkCpcLGJN32IwCoGaOGuXBQG0JLLMOAwC3YLgcSAT8tZYsKAHENNDo7jeCznt9ZYcAnkvNfh7susNNJkI2jG8uXNwakg9+aSF8N+L6DrpiAJA1TsQ7dvSFlECFKh+0Z+D9mcsmEbL00zl+gmi615CXCJ0Da8mC//rqi43/RKkMt5o8IFCIH0BcywR7B37kS6NDSk5OLGEFCqVwAyk/eJihWw9C60IHifyQ/TGv0khn96rCs8tRwl8GQcHq2gLknu1OOju2GIR5svFWxfNGse3T8FJT4J81Cm4sQznoQWKzfcH+ysg9MskiKZ96Jr7gC3lP4OlNB/ShDiatgGkQcADz1b16ndfj9CwXr98/khSDe54gE4O+XBWePMaYFgIzZ6tHPByeekj5d/Aa/nFEzUKZLoGrGQcmsv2hSVaylPbmYeTo6pQIA7uy0c4jCOpdo+hyXaD/x1p+4tOsY2rr+keUU4aeIGRRjQsDw5p30qXj6MoiSDKq6dd/vBbz8r2pC4n1tXXCoM2mOBEl7WOD/xhTK8GHY4zflce4u93ktwOLXGIR7PVw++jXMxwxCQ388C6AjqmTbFzTAN1pOqXO/ZueVDtmVo=
  - secure: PXNyUex8PTalCYLZgrYPOOpbHBQJfaDtGAjZufhDWqyyiTTTTfjLyfUQWUtx3tMaDAy4xUufhKoHjInHSjkt5nvw0nz3RRB+Afdh8lzmnOq/tAaBHEH65jJYzkLtDoaW8WFJw+8fcq3KQns5Ni8rvDdNAU4FMqq3LoVHhGQ8In6CBYvgWc/ogDCwu8JD9GHzQCpT0dV1w+euaEX3bvkF5L8S65f+w29KyV3kkqlFv3QsrZtY2TPaiQl1Hdg6c9fhIu9edLp30guUIPWflHEgnniL6AdfxdLalWcjR7vTtck4UkrXcaxilmdDU/JEH5ZOAxog0zoDKs1a03fY3dWOAJooM2OLgS2g1spi0TXzayEQwVe/UnqzFlrk9pZ4TSA1TCs3vIgO3ujainTrNg2J+3lNMzK6U5fKP/oOmwv8lycau7RNQlQW5IOjHcKnTdwLAtX61ZjqnZD20LiNnjX//9pK55PzdKmzCTVYK03CE0KomGLbslUz2CbbaRF4sajKGIzpC+fFmbjOpDiudZI/UICgOTgRYWMbjRKhA4t6cBPmcDge8zn08Ll5Ejwi/Lrqrk6oplePUf7XOzpfNx0JH3M6E1tO85XaOELxkkpwiNx0udn6bsGes3ybMhI/cJV5mAAxkPGEZPakvNVZPMpYVPrSLlceuyzz2LoA69XACrs=
  - secure: JHNmEUTk03Jk8IqXHvZePY2FoxmNck7rbxuFteg+oC3yKL/nKMFjHJu1uPt8/CBLPcOMREpzQ8WTaced8hvtMs3j2Kmk0gos81TIUWNw/j83hmdUk40ce9Gc2A7umojUDipDfp9ITT+fvUZPuU3HkjeF81D3yTnCGu+VI/wCQpfIdes9+w8kncYNFUA95m9Cfz831x06AyCk/YWKZUMnYJ2H8BBDUV6iXJUlRrkLvyPBNnxhrlVjLIutOa4a+dW367vY/VDcxxkO4X7QUtOKPVF+dKYuhDPmq0lLYnyRePTZrRF2y2v4/7ptV3PPfyKKmQG19+uKyIdk+CB6GktZPnSIFYKQlL73zCJDoQ3WySEzrJlsI1UGdzuA4wu7jx//vn67+AUoUK6d7lSDLwds3WWB3keKO1NMF1XdBi1Rt7fK4SdezNfDfsFWGTY8lLb9vdRyPdb+utz/3BAh0Lp1wlMxOosE/cK5U+GU1BaVYzdPliGGUWq8R5JYDz5zyRzG7c93tfu6UrklX7Ew3gzrTcgxbQZXrBJJLIjvdgX7oCyBEGSnZWgUY5tpVtgsA7ioVNThxjcNZas0ZWWxiF0HCVxdJhfiy+V6k2LC1NZDZKAMslY9v5XPaj9SJK+ZaCM5fljih2rFwK9Koh88S6vEsnMA2jKwP8hscOtEK43tNIw=
install:
- nvm install 6.9.2
script: bash .atomist/build/travis-build.bash
notifications:
  email: false
  webhooks:
    urls:
    - https://webhook.atomist.com/travis
    on_success: always
    on_failure: always
    on_start: always
cache:
  directories:
  - $HOME/.atomist
