dist: trusty
sudo: false
language: java
jdk:
- oraclejdk8
branches:
  except:
  - "/\\+travis\\d+$/"
env:
  global:
  - MAVEN_BASE_URL=https://atomist.jfrog.io/atomist
  - secure: ks56ShrwS/GWir+rPZBDboF8KJU43mH80VFjIvgw7uzWMccos4Ra5wwBdH3DwENjqc3zeN4hGNZ+MErBkCpcLGJN32IwCoGaOGuXBQG0JLLMOAwC3YLgcSAT8tZYsKAHENNDo7jeCznt9ZYcAnkvNfh7susNNJkI2jG8uXNwakg9+aSF8N+L6DrpiAJA1TsQ7dvSFlECFKh+0Z+D9mcsmEbL00zl+gmi615CXCJ0Da8mC//rqi43/RKkMt5o8IFCIH0BcywR7B37kS6NDSk5OLGEFCqVwAyk/eJihWw9C60IHifyQ/TGv0khn96rCs8tRwl8GQcHq2gLknu1OOju2GIR5svFWxfNGse3T8FJT4J81Cm4sQznoQWKzfcH+ysg9MskiKZ96Jr7gC3lP4OlNB/ShDiatgGkQcADz1b16ndfj9CwXr98/khSDe54gE4O+XBWePMaYFgIzZ6tHPByeekj5d/Aa/nFEzUKZLoGrGQcmsv2hSVaylPbmYeTo6pQIA7uy0c4jCOpdo+hyXaD/x1p+4tOsY2rr+keUU4aeIGRRjQsDw5p30qXj6MoiSDKq6dd/vBbz8r2pC4n1tXXCoM2mOBEl7WOD/xhTK8GHY4zflce4u93ktwOLXGIR7PVw++jXMxwxCQ388C6AjqmTbFzTAN1pOqXO/ZueVDtmVo=
  - secure: PXNyUex8PTalCYLZgrYPOOpbHBQJfaDtGAjZufhDWqyyiTTTTfjLyfUQWUtx3tMaDAy4xUufhKoHjInHSjkt5nvw0nz3RRB+Afdh8lzmnOq/tAaBHEH65jJYzkLtDoaW8WFJw+8fcq3KQns5Ni8rvDdNAU4FMqq3LoVHhGQ8In6CBYvgWc/ogDCwu8JD9GHzQCpT0dV1w+euaEX3bvkF5L8S65f+w29KyV3kkqlFv3QsrZtY2TPaiQl1Hdg6c9fhIu9edLp30guUIPWflHEgnniL6AdfxdLalWcjR7vTtck4UkrXcaxilmdDU/JEH5ZOAxog0zoDKs1a03fY3dWOAJooM2OLgS2g1spi0TXzayEQwVe/UnqzFlrk9pZ4TSA1TCs3vIgO3ujainTrNg2J+3lNMzK6U5fKP/oOmwv8lycau7RNQlQW5IOjHcKnTdwLAtX61ZjqnZD20LiNnjX//9pK55PzdKmzCTVYK03CE0KomGLbslUz2CbbaRF4sajKGIzpC+fFmbjOpDiudZI/UICgOTgRYWMbjRKhA4t6cBPmcDge8zn08Ll5Ejwi/Lrqrk6oplePUf7XOzpfNx0JH3M6E1tO85XaOELxkkpwiNx0udn6bsGes3ybMhI/cJV5mAAxkPGEZPakvNVZPMpYVPrSLlceuyzz2LoA69XACrs=
  - secure: lfTycYd02qs0aXLddojKbDQMsiyJn/L6qg+9WU7gtDPQAAWaF1142SLrDKVSMdjJEq0KdIPXG/t0QHmsKAdypMgxlPq93IvwxkFZ/YshUGZHgOePKEkoAKW7sMtchU+ragu5AVR9nz+TZKHmzjWpQHGDTgUOV1oCbBjLbjQRfe1mS3bCtQzDhqUtY0Nc+E/p1DJHoalvakB+lS2J7osXV4OCOFpIVVnTd/2u66yffEO0tbRdJEm7Ls5yKfo7BN6geTu1L9RILVNqrB5hJT6x3+woDXCWPHzT3AQ09jxxbzaplGTGVp222n0o/OEZV2VMJZr+FclObeLbbT1nfIxqqIDGQRL0kWiQ3xCVcYtkDDDpKVDP2qzvF/Rol4whA52JjZV00w5rpteSpVmL7yvhxQkuD/UNniifZO59QR76m3QS4UfLXUBQY2vLb7zj9rvtRADHMwdkazCC0wjq+u4vjVKAoRe7Fc4zyHWFAT/sUSlOgv2J40v2xT1JggE1KmtpdM0e5dDxgN08WFoZoU+twNl/32M3gzaDKLq3iPfURQTkuM+qkoWJ5w/1vgFp+A4AAzfdgjKsWh9Kyq1A4sCiENNJ/NuP5L17tZYJGOpVHrZcKqLLq2cqjTbu90mtsBvFaqvOhaOMmt9kApC5G7WhjzCe9hXkEgYlc9/Z7X0BuGM=
install: nvm install 8.0.0
script: bash .atomist/build/travis-build.bash
notifications:
  email: false
  webhooks:
    urls:
    - https://webhook.atomist.com/travis
    on_success: always
    on_failure: always
    on_start: always
    on_cancel: always
    on_error: always
cache:
  directories:
  - "$HOME/.atomist"
  - node_modules
deploy:
  provider: releases
  api_key:
    secure: iGHesgN2iYNrYaAXJuT9PANME1lv0A8jy3IGU7M4AFpKncg8s3Vi1DoEoh1x+Ff+vPc0TpYfMSiurJCT2mvjrtNrMvSu7fqZXnh7VRX2Qjid3xvmWCj49IGr1MDqvCTgqgVKKD3TVt3rNjNtK6r9IPlKxU8JUi+Q7AMLRCwCwZ0NIdnng9kN0gJQuX1AjnJ2QjEgfN68teqbh7tpLqB6PCyEHS3vhF6uYzEkNMPn0gKjYVme6DH4s9NvlJV6mACobV3li7ZVUrwGhkTEC5InXNCFHlnJHXNkB6Tt/QqwKNsDaDDZ8AYKAYQr1gCkRxo6BYx3LeZBwEuJxBhH5SFED1VEsKQaP0arV/7QDwqgFcqfblbKAGACfQQVpZV/CQsH/oq6VXsS74c9u/xOJOSIeW1o8a1ztezvPo9i+ygOsVNL6UyJfBxUqVQJw5Rr7o2mJutLyQQ7vuBSVpdi9GQW9hs0Px9z046DkK09nlOG+NAWktepciaNZbgI6vH0kCuTGYrcPKumxZfejJHPkzNNjaA2xET+J29otBpci/5lesHxPcbfHQWe2JMeUTVyn4ovPMWlF+89T4py9GY1gQvYcgxjpO3+Vl6LRidnkZsTPP9Yrq78pK7vEUp4xAibbYZ3gIi+DP63k3bM7tFuNUx/n1i64uKBqEyhzZ6l34KjyMw=
  on:
    tags: true
    condition: "$TRAVIS_TAG =~ ^[0-9]+\\.[0-9]+\\.[0-9]+$"
